<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--<link href="../static/css/bootstrap.css" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(function(){
            $.ajax({
                url:'get_gu/',
                dataType:'json',
                success:function(msg){
                    var msgKeys = Object.keys(msg)
                    var $select_gu = $('#select_gu')
                    for(var i=0 ; i<msgKeys.length ; i++){
                        $select_gu.append($("<option>").val(msgKeys[i]).text(msg[msgKeys[i]]))
                    }
                },
                error:function(){
                    alert('통신실패!')
                }
            })
        })

    </script>
  

</head>
<body>
    
    <h1>서울시 보행자 교통사고 현황</h1>

    <p>
        서울시 보행자 교통사고 현황 _ 그래프 바로 보여주기 : iframe에 그래프가 꽉 차게 안 보임 ㅜ
    </p>

    <iframe src="../static/charts/testchart.html" title="서울시 보행자 교통사고" width="500" height="350" style="border:none;"></iframe>

    <div id="wrapper">
        <select id="select_gu">
            <option value="0">구 선택</option>
        </select>
    </div>

    <div id="result"></div>


</body>
</html>